<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.thresholdsoft.astra">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_PRIVILEGED"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher_apollo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_apollo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Astra">
        <activity
            android:name=".ui.splash.SplashActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.home.dashboard.DashBoard"
            android:configChanges="keyboard|keyboardHidden"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.pickerrequests.PickerRequestActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.requesthistory.RequestHistoryActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.picklisthistory.PickListHistoryActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.login.userlogin.UserLoginActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan">
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->

            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".ui.picklist.PickListActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".ui.home.Home"
            android:configChanges="keyboard|keyboardHidden"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.scanner.ScannerActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:screenOrientation="landscape" />

    </application>

</manifest>